@charset "UTF-8";

.community-list{
	margin-bottom: 2em;
	box-shadow: 0 2px 4px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
}
.comment-insert{
	margin-bottom: 5em;
}

@media only screen and (max-width: 630px) {
	.comment{
	  width:230px;
      padding:0 5px;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
      
	}
}